[CUSTOMER_EGI]
Name = EGI
OutputDir = /var/lib/argo-connectors/EGI/
Jobs = Critical
AuthenticationUsePlainHttpAuth = False
AuthenticationHttpUser = xxxx
AuthenticationHttpPass = xxxx
WebAPIToken = xxxx
TopoFeed = https://goc.egi.eu/gocdbpi/
TopoFetchType = Sites, ServiceGroups
TopoType = GOCDB
TopoFeedPaging = True
WeightsEmpty = False
DowntimesEmpty = False

[Critical]
Dirname = EGI_Critical
Profiles = ARGO_MON_CRITICAL
MetricProfileNamespace = ch.cern.SAM
